{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Welcome</h4>
            <p>這是一個簡易部落格</p>
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <script>
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": 300,
                    "hideDuration": 1000,
                    "timeOut": 1500,
                    "extendedTimeOut": 1000,
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                message = "{{ message }}";
                $(document).ready(function() {
                    toastr.info(message)
                });
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}