{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <p>HI! {{ user }}</p>
        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
    {% else %}
        <p>Please login to see this page.</p>
        <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
    {% endif %}

    <p>目前共有 {{ article_list | length }} 篇文章</p>
    {% for article in article_list %}
        </br>
        <h3>
            <a href="{% url 'article_post' article.id %}"/>
                {{ article.title | title}}
            </a>
        </h3>
        <div>{{ article.content | truncatechars:30}}</div>
    {% empty %}
        <p>沒有任何文章可以顯示</p>
    {% endfor %}
{% endblock %}