{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h3 class="text-left">New Post</h3>
        <form method="POST" action="{% url 'update_post' %}">
            {% csrf_token %}
            {{ form.media }}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
                    </br>
                    {{ field }}
                </div>
            {% endfor %}
            <div class="form-group">
                <label for="id_article_type" class="label">類別</label>
                <select name="article_type" required id="id_article_type" class="form-control js-example-tags" style="width:100%">
                    {% if article.article_type %}
                        <option selected="selected">{{ article.article_type }}</option>
                    {% else %}
                        <option selected="selected">其它</option>
                    {% endif %}
                </select>
            </div>
            <div class="form-group">
                <label for="id_article_tags" class="label">標籤</label>
                <select name="article_tags" required id="id_article_tags" class="form-control js-example-tokenizer" style="width:100%" multiple="multiple">
                    {% if article_tags %}
                        {% for tag in article_tags %}
                            <option selected="selected">{{ tag }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            {% if article.id %}
                <input type="hidden" name="edit_id" value={{ article.id }}>
            {% endif %}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
    <script>
        $(".js-example-tags").select2({
            tags: true
        });
    </script>
    <script>
        $(".js-example-tokenizer").select2({
            tags: true,
            tokenSeparators: [',', ' ']
        });
    </script>
{% endblock %}